*,
*::after,
*::before {
    box-sizing: border-box;
}


body {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HvDTrial Brandon Grotesque', sans-serif;
    color: #787878;
}
.navbar nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(246, 245, 247);
    padding: 20px 30px;
    font-weight: 600;
    font-size: 14px;

}.logo {
    width: 200px;
    height: 50px;
    margin-left: 44px;
    margin-top: 15px;
}
.navbar-links{
    float: right;
    margin-right: 30px;
}
.navbar-links ul {
    list-style: none;
    display: flex;
    gap: 30px;

}
.navbar-links ul li {
    text-decoration: none;
}
.navbar-links ul li a{
    color: #787878;
    text-decoration: none;
    white-space: nowrap;
}
.navbar-links ul li a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #57d5f5;
}

.section1 {
    width: 80%;
    margin: auto;
}
.sub1 p {
    display: inline-block;
    margin-right: 25px;
}
.section1 .mikky {
    width: 100%;
    margin: 30px auto;
}
.section2 {
    width: 85%;
    background-color: #fafafa;
    margin: 20px auto;
    padding: 80px 70px;
    text-align: justify;
}
.line {
    width: 100%;
    margin: 50px auto;
}
.like img, p {
    display: inline-block;
    margin-right: 10px;
    
}
.like .twe {
    margin-top: 0;
    font-size: 28px;
}
.like .share {
    margin-left: 20px;
}

.section3 {
    width: 85%;
    margin: 70px auto;

}
.line2 {
    width: 100%;
}
.mat1 {
    display: flex;
    gap: 50px;
    padding: 50px 0;
}
.mat1 .abat1 img {
    width: 200px;
    height: 150px;
    margin-top: 22px;
}






footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color:#729dca1c;
    color: #0054A9;
    text-align: center;
    
}
.footer-navbar {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.flogo {
    width: 126px;
    height: 16px;
    margin-left: 50px;
    margin-top: 10px;
    white-space: nowrap;
}
.fnavbar-links{
    float: right;
    margin-right: 30px;
}
.fnavbar-links ul {
    list-style: none;
    display: flex;
    gap: 30px;

}
.fnavbar-links ul li {
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}
.fnavbar-links ul li a{
    color:#0054A9;
    text-decoration: none;
    white-space: nowrap;
}
.fnavbar-links ul li a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #57d5f5;
}
.copywrite {
    width: 280px;
    margin: 10px auto;
    text-align: center;
    color:#0054A9; 
    font-size: 14px;
   
}
hr {
    width: 90%;   
}
.media {
    margin-left: 80px;

}
.toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    
  }
  .toggle-button .bar {
      width: 100%;
      height: 3px;
      background-color: #120586;
      border-radius: 10px;
  }

  @media (max-width: 1030px) { 
    .logo {
        width: 126px;
        height: 40px;

    }
    .navbar-links{
        float: right;
        margin-right: 10px;
    }
    .navbar-links ul {
        gap: 15px;
        
    }
    .navbar-links ul li {
        text-decoration: none;
    }
    .navbar-links ul li a{
        
        font-size: 14.5px;
    }
    footer {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 30px;
        background-color:#729dca1c;
        color: #0054A9;
    }
    .footer-navbar {
        display: flex;
        width: 85%;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        vertical-align: top;
    }
    .flogo {
        width: 126px;
        height: 16px;
        margin-left: 50px;
        margin-top: 10px;
    }
    .fnavbar-links{
        float: right;
        margin-right: 30px;
    }
    .fnavbar-links ul {
        list-style: none;
        display: flex;
        gap: 20px;
        
    
    }
    .fnavbar-links ul li {
        text-decoration: none;
        
        text-align: center;
    }
    .fnavbar-links ul li a{
        color:#0054A9;
        text-decoration: none;
        white-space: nowrap;
        font-size: 12px;
    }
    .fnavbar-links ul li a:hover{
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-color: #57d5f5;
    }
    .copywrite {
        width: 280px;
        margin: 10px auto;
        text-align: center;
        color:#0054A9; 
        font-size: 12px;
       
    }
    hr {
        width: 90%;   
    }

}
@media (max-width: 920px) { 
    .logo {
        width: 100px;
        height: 40px;

    }
    .navbar-links{
        float: right;
        margin-right: 20px;
        margin-left: 30px;
    }
    .navbar-links ul {
        gap: 13px;
        
    }
    .navbar-links ul li {
        text-decoration: none;
    }
    .navbar-links ul li a{
        
        font-size: 12px;
    }
    .section1 .mikky {
        width: 650px;
        margin: 30px auto;
    }


    .section1 {
        width: 80%;
        margin: auto;
        font-size: 13px;
    }
    .sub1 p {
        display: inline-block;
        margin-right: 25px;

    }
    .section1 .mikky {
        
        margin: 30px auto;
    }
    .section2 {
        width: 85%;
        background-color: #fafafa;
        margin: 20px auto;
        padding: 80px 70px;
        text-align: justify;
        font-size: 13px;
    }
    .line {
        width: 100%;
        margin: 50px auto;
    }
    .like img, p {
        display: inline-block;
        margin-right: 10px;
        
    }
    .like .twe {
        margin-top: 0;
        font-size: 28px;
    }
    .like .share {
        margin-left: 20px;
    }
    
    .section3 {
        width: 85%;
        margin: 70px auto;
        font-size: 13px;
    
    }
    .line2 {
        width: 100%;
    }
    .mat1 {
        display: flex;
        gap: 50px;
        padding: 50px 0;
    }
    .mat1 .abat1 img {
        width: 200px;
        height: 150px;
        margin-top: 22px;
    }
    
}

@media (max-width: 850px) { 
    .logo {
        width: 106px;
        height: 40px;

    }
    .navbar-links{
        float: right;
        margin-right: 0px;
    }
    .navbar-links ul {
        gap: 8px;
        
    }
    .navbar-links ul li {
        text-decoration: none;
    }
    .navbar-links ul li a{
        
        font-size: 12px;
    }

    footer {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 30px;
        background-color:#729dca1c;
        color: #0054A9;
    }
    .footer-navbar {
        display: flex;
        width: 85%;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        vertical-align: top;
    }
    .flogo {
        width: 126px;
        height: 16px;
        margin-left: 50px;
        margin-top: 10px;
    }
    .fnavbar-links{
        float: right;
        margin-right: 30px;
    }
    .fnavbar-links ul {
        list-style: none;
        display: flex;
        gap: 20px;
        
    
    }
    .fnavbar-links ul li {
        text-decoration: none;
        
        
    }
    .fnavbar-links ul li a{
        color:#0054A9;
        text-decoration: none;
        white-space: nowrap;
        font-size: 12px;
    }
    .fnavbar-links ul li a:hover{
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-color: #57d5f5;
    }
    .copywrite {
        width: 280px;
        margin: 10px auto;
        text-align: center;
        color:#0054A9; 
        font-size: 12px;
       
    }
    hr {
        width: 90%;   
    }
    .media {
        margin-left: 50px;
    }
    .section1 .mikky {
        width: 100%;
        margin: 30px auto;
    }
    .section1 {
        width: 80%;
        margin: auto;
    }
    .sub1 p {
        display: inline-block;
        margin-right: 25px;
    }
    .section1 .mikky {
        
        margin: 30px auto;
    }
    .section2 {
        width: 85%;
        background-color: #fafafa;
        margin: 20px auto;
        padding: 80px 70px;
        text-align: justify;
    }
    .line {
        width: 100%;
        margin: 50px auto;
    }
    .like img, p {
        display: inline-block;
        margin-right: 10px;
        
    }
    .like .twe {
        margin-top: 0;
        font-size: 28px;
    }
    .like .share {
        margin-left: 20px;
    }
    
    .section3 {
        width: 85%;
        margin: 70px auto;
    
    }
    .line2 {
        width: 100%;
    }
    .mat1 {
        display: flex;
        gap: 50px;
        padding: 50px 0;
    }
    .mat1 .abat1 img {
        width: 200px;
        height: 150px;
        margin-top: 22px;
    }
    
}

@media (max-width: 783px){
    
    .flogo {
        width: 126px;
        height: 16px;
        margin-left: 50px;
        margin-top: 0;
    }
    .fnavbar-links{
        display: flex;
    
        margin-right: 30px;
    }
    .fnavbar-links ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
    display: none; 
    width: 100%;   
    
    }
    .navbar nav {
    flex-direction: column;
    align-items: flex-start;
    }  
    .navbar .navbar-links ul {
    flex-direction: column;
    width:100%;
    }
    .navbar nav .navbar-links li {
    text-align: center;
    }
    .navbar-links.active{
    display: flex;
    }
    
    .section1 {
        width: 80%;
        margin: auto;
    }
    .sub1 p {
        display: inline-block;
        margin-right: 25px;
    }
    .section1 .mikky {
        
        margin: 30px auto;
    }
    .section2 {
        width: 85%;
        background-color: #fafafa;
        margin: 20px auto;
        padding: 80px 70px;
        text-align: justify;
    }
    .line {
        width: 100%;
        margin: 50px auto;
    }
    .like img, p {
        display: inline-block;
        margin-right: 10px;
        
    }
    .like .twe {
        margin-top: 0;
        font-size: 28px;
    }
    .like .share {
        margin-left: 20px;
    }
    
    .section3 {
        width: 85%;
        margin: 70px auto;
    
    }
    .line2 {
        width: 100%;
    }
    .mat1 {
        display: flex;
        gap: 50px;
        padding: 50px 0;
    }
    .mat1 .abat1 img {
        width: 200px;
        height: 150px;
        margin-top: 22px;
    }
    .like img {
        width: 16px;
    }
    .like .twe {
        font-size: 20px;
    }
    
}

@media (max-width: 530px){
    .flogo {
        width: 126px;
        height: 16px;
        margin-left: 50px;
        margin-top: 0;
    }
    .fnavbar-links{
        display: flex;
    
        margin-right: 30px;
    }
    .fnavbar-links ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
    display: none; 
    width: 100%;   
    
    }
    .navbar nav {
    flex-direction: column;
    align-items: flex-start;
    }  
    .navbar .navbar-links ul {
    flex-direction: column;
    width:100%;
    }
    .navbar nav .navbar-links li {
    text-align: center;
    }
    .navbar-links.active{
    display: flex;
    }
    .media {
        margin-left: 30px;
        white-space: nowrap;
    }
    .mat1 {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 50px 0;
        align-items: center;
        font-size: 11px;
    }
    
    .section1 {
        width: 80%;
        margin: auto;
        font-size: 11px;
    }
    .section2 {
        font-size: 11px;
        padding: 40px 30px;
    }
    .section3 h3 {
        font-size: 13px;
    }
    .like img {
        width: 12px;
    }
    .like .twe {
        font-size: 13px;
    }
    
    
}